.Card {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Banner {
  color: #000;
}

.Contents {
  color: var(--main-color);
  padding: var(--spacing-x3);
  padding-bottom: var(--spacing-x8);
  text-align: left;
}

.Category {
  color: #000;
}

.Heading {
  color: #000;
}

.Location {
  color: #000;
}