.Card {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-decoration: none;
}

.Contents {
  color: var(--main-color);
  padding: var(--spacing-x3);
  text-align: left;
}

.HasImage .Contents {
  border: 1px solid var(--border-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-top: none;
  padding-bottom: var(--spacing-x8);
}

.TextOnly {
  border: 1px solid var(--border-color);
  justify-content: center;
}

.Category {
  color: var(--grey);
  font-size: var(--font-size-small);
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;
}

.Heading {
  font-size: var(--font-size-large);
}

.TextOnly .Heading {
  font-size: var(--font-size-x-large);
}

.Location {
  color: var(--grey);
  font-size: var(--font-size-medium);
}