.Card {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.Card:hover,
.Card:focus {
  box-shadow: var(--box-shadow);
}

.Contents {
  color: var(--main-color);
  padding: var(--spacing-x3);
  text-align: left;
}

.HasImage .Contents {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-top: none;
  padding-bottom: var(--spacing-x8);
}

.TextOnly {
  justify-content: center;
}

.Category {
  color: var(--grey);
  font-size: var(--font-size-small);
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;
}

.Heading {
  font-size: var(--font-size-large);
}

.TextOnly .Heading {
  font-size: var(--font-size-x-large);
}

.Location {
  color: var(--grey);
  font-size: var(--font-size-medium);
}

.BannerBox {
  padding-bottom: calc((100% + 2px) * .75);
  position: relative;
  width: calc(100% + 2px);
}

.BannerBox .Banner {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  height: 100%;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 100%;
}