.App {
  text-align: center;
}

.App-logo {
  height: 6rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  /* colours */
  --main-color: #062031;
  --grey: #5d696e;
  --border-color: #e9eaeb;

  /* font sizes */
  --font-size-small: .8rem;
  --font-size-default: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.2rem;

  /* spacing */
  --spacing: .5rem;
  --spacing-x2: 1rem;
  --spacing-x3: 1.5rem;
  --spacing-x4: 2rem;
  --spacing-x8: 4rem;

  /* other */
  --border-radius: .5rem;
  --box-shadow: 2px 2px 5px var(--grey);
}

img {
  max-width: 100%;
}

.Main-section {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: var(--spacing-x4);
  margin: 0 auto;
  max-width: 1080px;
  padding: var(--spacing-x3);
}

@media (min-width: 768px) {
  .Main-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .Main-section {
    grid-template-columns: repeat(3, 1fr);
    padding: var(--spacing-x4) 0;
    width: 90%;
  }
}